/*To put images on buttons*/
#newConnectionButton {
    -fx-graphic:url('/Icons/new_database.png');
    -fx-background-color: transparent;
}

#dataButton {
    -fx-graphic:url('/Icons/tableview_icon.png');
    -fx-background-color: transparent;
}

#dataInsightButton {
    -fx-graphic:url('/Icons/data_insight_icon.png');
    -fx-background-color: transparent;
}
#visualizeButton {
    -fx-graphic:url('/Icons/visualize_icon.png');
    -fx-background-color: transparent;
}

#combineButton{
    -fx-graphic:url('/Icons/combine_column_icon.png');
    -fx-background-color: transparent;

}
#areaChartButton{
    -fx-graphic:url('/Icons/area_chart_icon.png');
    -fx-background-color: transparent;
}
#scatterChartButton{
    -fx-graphic:url('/Icons/scatter_chart_icon.png');
    -fx-background-color: transparent;

}

.split-pane {
    -fx-padding: 1 0 0 0;
}

#exportToPNGbutton{
    -fx-graphic:url('/Icons/exportToPNG.png');
    -fx-background-color: transparent;

}
#barChartButton{
    -fx-graphic:url('/Icons/bar_chart_icon.png');
    -fx-background-color: transparent;


}
#stackedBarChartButton{
    -fx-graphic:url('/Icons/stacked_bar_chart_icon.png');
    -fx-background-color: transparent;


}

#pieChartButton{
    -fx-graphic:url('/Icons/pie_chart_icon.png');
    -fx-background-color: transparent;

}


#lineChartButton{
    -fx-graphic:url('/Icons/line_chart_icon.png');
    -fx-background-color: transparent; 

}

#btnHelp{
    -fx-graphic:url('/Icons/help.png');
    -fx-background-color: transparent; 

}


#btnMenu
{
    -fx-graphic:url('/Icons/minimize.png');
    -fx-background-color: transparent; 

}

#btnNewCombinedColumn{
    -fx-graphic:url('/Icons/add_new_combined_column.png');
    -fx-background-color: transparent; 

}

.tree-view, #left-pane .tree-view:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;

}

.tree-cell{
    -fx-background-color:  transparent;
    -fx-padding: 0;
    -fx-indent: 20;

}
.tree-view {

}


.tooltip {
    -fx-font: 22 arial;
}


.tree-view .tree-cell:filled{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}



.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.button:hover {

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.button:pressed
{    -fx-effect: dropshadow(three-pass-box, rgba(150,0,0,0.30), 100, 0, 0, 0);

}

/* to make tne toolbar with the buttons inside invis*/
#toolBar{
    -fx-background-color: transparent;
}





.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #96b946;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: #96b946;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-column .label {
    -fx-content-display: bottom ;
}

